div.titre {
  background-color: silver;
  width: 12%;
}
div.résultat {
  background-color: silver;
  width: 12%;
}
span {
  background: silver;
}

body {

  background-image: url("https://static.pexels.com/photos/36487/above-adventure-aerial-air.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "comic sans ms";
  color: white;
}


div.h11 {
  text-decoration: underline;
  text-align: center;
}
